@-webkit-keyframes shot {
  75% {
    width: 5rem;
    background-color: #fefefe;
    border-color: #fefefe;
  }

  100% {
    width: 30%;
    background-color: rgba(255, 0, 0, 0.85);
    border-color: rgba(255, 0, 0, 0.5);
    transform: translateX(0) rotate(-315deg);
  }
}

@keyframes shot {
  75% {
    width: 5rem;
    background-color: #fefefe;
    border-color: #fefefe;
  }

  100% {
    width: 30%;
    background-color: rgba(255, 0, 0, 0.85);
    border-color: rgba(255, 0, 0, 0.5);
    transform: translateX(0) rotate(-315deg);
  }
}

@-webkit-keyframes miss {
  75% {
    width: 5rem;
    background-color: #fefefe;
    border-color: #fefefe;
  }

  100% {
    width: 30%;
    background-color: rgba(0, 153, 255, 0.85);
    border-color: rgba(0, 153, 255, 0.5);
    transform: translateX(0) rotate(-315deg);
  }
}

@keyframes miss {
  75% {
    width: 5rem;
    background-color: #fefefe;
    border-color: #fefefe;
  }

  100% {
    width: 30%;
    background-color: rgba(0, 153, 255, 0.85);
    border-color: rgba(0, 153, 255, 0.5);
    transform: translateX(0) rotate(-315deg);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.25);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.25);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes bleep {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bleep {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleDrop {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes scaleDrop {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@-webkit-keyframes typewriter {
  0% {
    max-width: 0;
    color: $main-color;
  }
  100% {
    max-width: 100%;
    color: $main-color;
  }
}

@keyframes typewriter {
  0% {
    max-width: 0;
    color: $main-color;
  }
  100% {
    max-width: 100%;
    color: $main-color;
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: $main-color;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: $main-color;
  }
}

@keyframes blink {
  0% {
    background-color: $main-color;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: $main-color;
  }
}

@-webkit-keyframes sweep {
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@keyframes sweep {
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes enemyTurn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.0125);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes enemyTurn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.0125);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes seepAgent {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes seepAgent {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes seepEnemy {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes seepEnemy {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0.25;
    transform: scale(0) translate(-50%, -50%);
  }
  80% {
    opacity: 1;
    transform: scale(1.1) translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes pop {
  0% {
    opacity: 0.25;
    transform: scale(0) translate(-50%, -50%);
  }
  80% {
    opacity: 1;
    transform: scale(1.1) translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@-webkit-keyframes grow {
  0% {
    width: 12.5rem;
  }
  100% {
    width: 100%;
  }
}

@keyframes grow {
  0% {
    width: 12.5rem;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 12.5rem;
  }
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 12.5rem;
  }
}

@-webkit-keyframes opacityShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
