.board {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 90%;
  max-width: 600px;
  .letter-container {
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
  }
  .number-container {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0.5rem;
  }
  .field-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.1rem;
    aspect-ratio: 1/1;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    .field {
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
}
