.play-now-button {
  @include flexRowCenter;
  @include fullSizeMask;
  position: relative;
  width: 100%;
  min-width: 0;
  aspect-ratio: 4/1;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  cursor: crosshair;
  mask: url('../assets/images/battleshipX.svg') no-repeat 50% 50%;
  -webkit-mask: url('../assets/images/battleshipX.svg') no-repeat 50% 50%;
}
.play-now-button:after {
  @include pseudoOverlay;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease;
  transition-duration: 0.3s;
}
.play-now-button:hover:after,
.play-now-button:focus:after {
  transition-duration: 2s;
  box-shadow: $play-now-button-box-shadow;
}
.play-now-button .text-play-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  line-height: 2.5;
  font-size: $caps-button-font-size;
  letter-spacing: $caps-button-letter-spacing;
  text-align: center;
  color: $main-color;
  transform: translate(-50%);
  transition: color 0.8s ease;
  padding: 0;
  margin: 0;
}
.play-now-button:hover .text-play-button,
.play-now-button:focus .text-play-button {
  color: $main-opposite-color;
}
.play-now-button:before {
  @include pseudoUnderlay;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 0;
  background-color: $main-color;
  transform: translate(-50%, -50%);
  transition: width 0.8s ease;
}
.play-now-button:hover:before,
.play-now-button:focus:before {
  width: 100%;
}

.github-button {
  @include flexColumnCenter;
  @include mainBackground;
  position: relative;
  z-index: 1;
  padding: 1em 1.5em;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 0.625em;
  font-size: $caps-button-font-size;
  letter-spacing: $caps-button-letter-spacing;
  color: $main-color;
  overflow: hidden;
  transition: color 0.5s;
  cursor: pointer;
}

.github-button:hover,
.github-button:focus {
  color: transparent;
}

.github-button:before {
  content: '';
  background: $main-color url('../assets/images/github.svg') center center / contain
    no-repeat;
  position: absolute;
  z-index: 2;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: scale(0);
  transition: all 0.5s;
}

.github-button:after {
  content: '';
  background: $main-color;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(0) scale(0, 1);
  transition: all 0.5s;
}

.github-button:hover::before,
.github-button:hover:after,
.github-button:focus::before,
.github-button:focus:after {
  transition: all 0.5s;
}

.github-button:hover::before,
.github-button:focus::before {
  transform: scale(0.6);
}

.github-button:hover:after,
.github-button:focus:after {
  transform: skewX(-45deg) scale(1, 1);
}
