@import './variables.scss';
@import './animations.scss';
@import './mixins.scss';
@import './capsButtons.scss';
@import './playerNameForm.scss';
@import './pregame.scss';
@import './buttons.scss';
@import './board.scss';
@import './shipSelect.scss';
@import './setup.scss';
@import './battle.scss';
@import './winnerModal.scss';

:root {
  color-scheme: light dark;
  color: $main-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  height: -webkit-fill-available;
}

html,
body {
  @include fullHeightFIllAvailable;
  background-color: $background-color;
}

body {
  min-height: 100vh;
  background: url('../assets/images/worldMap.svg') bottom / cover no-repeat;
  overflow-x: hidden;
}

h1,
button,
a,
img {
  @include noUserSelect;
  text-decoration: none;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.app {
  @include flexRowCenter;
  position: relative;
  min-height: 100vh;
  height: -webkit-fill-available;
  text-align: center;
  padding: 1rem;
}

.app.pregame {
  @include flexColumnCenter;
  padding: 2rem;
}

.app-setup,
.app.battle {
  position: relative;
  width: 100%;
  margin: 0 auto;
  & > * {
    border-radius: $main-border-radius;
  }
}
