.pregame-card {
  border: 2px solid transparent;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px 1px $transparent-shadow-color;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: border-color 0.5s;
  user-select: none;
  cursor: pointer;
}
.pregame-card:hover {
  border: 2px solid $transparent-shadow-color;
}
