.pregame-card {
  @include blackBlurBackground;
  padding: min(calc(2rem + 3vw), 5rem) min(calc(1rem + 2vw), 3rem);
  border: 0.125rem solid transparent;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 0.0625rem $transparent-shadow-color;
  text-align: center;
  transition: border-color 0.5s;
  cursor: pointer;
  h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: min(calc(1.75rem + 4vw), 5rem);
    letter-spacing: 0.1rem;
  }
  .name-form {
    margin-top: 2.75rem;
  }
  .play-now-button {
    margin-top: 1rem;
  }
  &:hover {
    border: 2px solid $transparent-shadow-color;
  }
}
