@import './variables.scss';

// .header.setup {
//   margin-bottom: 2rem;
//   text-shadow: 3px 3px black;
// }

.setup-wrapper {
  width: 100%;
  & > * {
    border-radius: $main-border-radius;
  }
}

.message.setup {
  @include flexRowStartCenter;
  gap: 0.5rem;
  max-width: 680px;
  margin: 0 auto 0.5rem auto;
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  .message-image {
    height: min(calc(1.25rem + 2vw), 2.75rem);
  }
  .message-container {
    display: inline;
    text-align: start;
    .message-agent {
      display: inline;
      color: #70cdf1;
    }
    .typed-cursor {
      position: relative;
      left: 1px;
      bottom: -3px;
      display: inline-block;
      width: 0.5rem !important;
      height: 1rem !important;
      font-size: $font-size-normal-responsive;
      color: transparent;
      background-color: #70cdf1;
      overflow: hidden;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
    }
  }
}

.setup-container {
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
.board-fleet-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.reset-continue-section {
  @include flexRowCenter;
  gap: min(10%, 2rem);
  max-width: 680px;
  margin: 0.5rem auto 0 auto;
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
