@import './variables.scss';

.header.setup {
  margin-bottom: 2rem;
  text-shadow: 3px 3px black;
}
.message.setup {
  // @include gridPlaceItemsCenter;
  @include flexRowStartCenter;
  gap: 0.5rem;
  max-width: 680px;
  margin: 0 auto 0.5rem auto;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  .message-image {
    height: min(calc(1.25rem + 2vw), 2.75rem);
  }
  .message-container {
    display: inline;
    text-align: start;
    .message-text {
      display: inline;
      color: #70cdf1;
    }
    .typed-cursor {
      position: relative;
      left: 1px;
      bottom: -3px;
      display: inline-block;
      width: 0.5rem !important;
      height: 1rem !important;
      font-size: $font-size-normal-responsive;
      color: transparent;
      background-color: #70cdf1;
      overflow: hidden;
      animation-duration: 1.5s;
    }
  }
}

@keyframes typewriter {
  0% {
    max-width: 0;
    color: $main-color;
  }
  100% {
    max-width: 100%;
    color: $main-color;
  }
}

@keyframes blink {
  0% {
    background-color: $main-color;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: $main-color;
  }
}

.setup-container {
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
.board-fleet-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.app.setup {
  .field-container {
    position: relative;
    overflow: hidden;
    &::before {
      @include pseudoOverlay;
      display: block;
      top: 50%;
      left: 50%;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 100%;
      transform-origin: top left;
      background: url('../assets/images/cross.svg') center / cover no-repeat;
      transform: rotate(45deg) translate(-50%, -50%);
      filter: invert(67%) sepia(88%) saturate(286%) hue-rotate(164deg)
        brightness(96%) contrast(97%);
    }
    &::after {
      display: block;
      @include pseudoUnderlay;
      box-sizing: border-box;
      inset: unset;
      top: -50%;
      left: -50%;
      margin: 0 auto;
      border-right: solid 1px #87cfeb50;
      width: 100%;
      height: 100%;
      border-radius: 100% 0 0 0;
      transform-origin: 100% 100%;
      background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, #70cdf1);
      animation: sweep 3.5s infinite linear;
      pointer-events: none;
    }
    img {
      filter: invert(67%) sepia(88%) saturate(286%) hue-rotate(164deg)
        brightness(96%) contrast(97%);
      // filter: invert(82%) sepia(9%) saturate(2042%) hue-rotate(166deg)
      //   brightness(97%) contrast(90%);
      &.blue-bleep {
        animation: bleep 3.5s infinite linear;
        animation-delay: -3.5s;
      }
    }
  }
}

@keyframes bleep {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}

.reset-continue-section {
  @include flexRowCenter;
  gap: min(10%, 2rem);
  max-width: 680px;
  margin: 0.5rem auto 0 auto;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

