.fleet-setup {
  @include flexColumnCenter;
  flex-wrap: wrap;
  border-radius: $main-border-radius;
  background-color: rgba(0, 0, 0, 0.5);
  .ship-card {
    flex: 1;
    position: relative;
    max-width: 150px;
    min-width: 100px;
    margin: calc(0.25rem + 0.5vw);
    padding: 0.25rem;
    border: 2px solid white;
    border-radius: $main-border-radius;
    background: transparent;
    font-family: inherit;
    color: white;
    background: rgba(0, 0, 0, 1);
    transition: all 0.05s linear, visibility 0.01s linear;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    &:focus {
      -webkit-filter: brightness(1);
      filter: brightness(1);
      .ship-content {
        position: relative;
        z-index: 1;
        pointer-events: none;
        .ship-image {
          position: relative;
          z-index: 2;
          -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(8deg)
            brightness(100%) contrast(104%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(8deg)
            brightness(100%) contrast(104%);
        }
      }
    }
    &.hidden {
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      opacity: 0.5;
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
      &::before,
      &::after {
        background: transparent;
      }
      .ship-content {
        visibility: hidden;
      }
    }
    .ship-content {
      img {
        -webkit-filter: invert(100%) sepia(8%) saturate(37%) hue-rotate(328deg)
          brightness(105%) contrast(100%);
        filter: invert(100%) sepia(8%) saturate(37%) hue-rotate(328deg)
          brightness(105%) contrast(100%);
        pointer-events: none;
        position: relative;
        z-index: 3;
        height: min(calc(1rem + 1.5vw), 2rem);
      }
      p {
        position: relative;
        z-index: 3;
      }
    }
  }
}

.ship-card:before,
.ship-card:after {
  @include pseudoUnderlay;
  background: rgba(0, 0, 0, 1);
  transition: all 0.2s linear, visibility 0.01s linear;
}

.ship-card:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.ship-card:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

.ship-card:hover:before,
.ship-card:focus:before {
  height: calc(100% - 32px);
  top: 16px;
}

.ship-card:hover:after,
.ship-card:focus:after {
  width: calc(100% - 32px);
  left: 16px;
}

.ship-card:active {
  transform: scale(0.95);
}

.ship-card:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
