$main-color: #ffffff;
$main-opposite-color: #000000;
$background-color: #03254c;
$transparent-low-grey-color: #ffffffa6;
$input-background-color: #00000033;
$transparent-shadow-color: #0000004d;
$font-size-normal-responsive: min(calc(0.25rem + 1.5vw), 1rem);
