$main-color: #ffffff;
$white-low: rgba(255, 255, 255, 0.6);
$main-opposite-color: #000000;
$background-color: #03254c;
$transparent-low-grey-color: #ffffffa6;
$input-background-color: #00000033;
$transparent-shadow-color: #0000004d;
$font-size-medium-low-responsive: min(calc(0.2rem + 1.25vw), 0.85rem);
$font-size-normal-responsive: min(calc(0.5rem + 1vw), 1rem);
$font-size-large-responsive: min(calc(0.5rem + 1vw), 1.25rem);
$font-size-normal-large-responsive: min(calc(0.5rem + 1vw), 1.125rem);
$font-size-extra-large-responsive: min(calc(1rem + 1vw), 2.25rem);
$blue-light-color: #87ceeb;
$orange-light-color: #f3a640;
$red-light-color: #cf4040;
$orange-light-color-transparent: #f3a54080;
$blue-light-color-transparent: #87cfeb80;
$red-light-color-transparent: #cf404080;
$main-border-radius: 0.5rem;
$setup-max-width: 46.875rem;
